/*
/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////
*/

main{
    display: flex;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.imagen-logo{
    width: 120px;
    height: 48px;
    margin: 40px 0 936px 40px
}

.ingresar{
    margin-top: 40px;
    margin-left: 216px;
}
input{
    background: #F3F5FC;;
    margin: 128px 0 0 24px;
    width: 577px;
    height: 48px;
    border: none;
}

input::placeholder{
    width: 577px;
    color: #0a3871;
    font-size: 32px;
}

.botones{
    display: flex;
}
.retorno{
    background: white;
    width: 400px;
    height: 944px;
    margin: 40px;
    margin-left: 56px;
    border-radius: 32px;
}

.imagen-busqueda{
    width: 336px;
    height: 304px;
    margin-top: 243px;
    margin-left: 32px;
    margin-right: 32px;
}

.texto-niguno{
    color: var(--Gray-gray-500, #343A40);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    width: 336px;
    height: 58px;
    margin: 32px 32px 8px 32px;
}

.texto-desea{
    color: var(--Gray-gray-400, #495057);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 336px;
    height: 48px;
    margin: 8px 32px 32px 32px;

}

button{
    width: 328px;
    height: 67px;
    text-align: center;
    font-size: 16px;
    padding: 24px;
    border-radius: 24px;
}

.button-encriptar{
    background: #0a3871;
    color: #ffffff;
    margin: 669px 12px 24px 24px;
}

.button-desencriptar{
    background: #d8dfe8;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    color: #0a3871;
    margin: 669px 24px 24px 12px;
}